/* ---------------------
  Header
----------------------- */
.header {
  background-color: #1a1a4f;
  box-shadow: 0 5px 10px rgba(91, 91, 91, 0.1);
}

.top_header {
  background:
    url('./../images/confetti.png') top 95% left 0 no-repeat,
    url('./../images/header-bg.jpg');
  background-size: cover, auto;
}

.header_greetings {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

.header_form {
  width: 100%;
  text-align: center;
}

.bottom-header {
  height: 7rem;
  background-color: #1a1a4f;
  padding: 2rem;
}

.header__logo {
  img {
    width: 150px;
    margin-top: 80px;
  }
}

.greetings_enter h3 {
  font-size: 36px;
  text-transform: uppercase;
  color: #1a1a4f;
  margin: 0 auto;
}

.greetings_numb h2 {
  font-size: 80px;
  text-transform: uppercase;
  margin: -13px auto;
  white-space: nowrap;
  color: #1f8bbe;
}

.greetings_dream h4 {
  margin: 0 auto;
  font-size: 22px;
  text-transform: uppercase;
}

.header_phone {
  margin: 10px;
  position: relative;
  left: 10rem;

  & a {
    text-decoration: none;
    color: #1a1a4f;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.discount {
  text-align: center;
}

.discount__countdown {
  text-align: center;
}

.countdown__item {
  margin-bottom: 15px;
  float: left;
  width: 23%;

  &:last-child {
    margin-right: 0;
  }

  span {
    font-size: 30px;
    font-weight: 600;
    color: white;
    display: inline-block;

    &::after {
      content: ':';
      color: white;
    }
  }

  p {
    color: white;
    display: inline-block;
    font-weight: 500;
    margin: 0;
  }
}

.countdown__item span:last-child::after {
  content: '';
}

.discount_text p {
  margin: 0 auto;
  color: white;
  font-size: 24px;
}
